<div class="">
    <div class="panel panel-primary filterable">
        <div class="panel-body">
                <table class="table table-responsive table-condensed table-hover" style="table-layout:auto ">
                    <caption style="font-size: 20px; padding-left:8px">热门帖子</caption>
                    <thead>
                        <tr>
                            <th><font size="1";word-break:keep-all; white-space:nowrap;>标题</th>
                            <th><font size="1">板块</th>
                            <th><font size="1";word-break:keep-all; white-space:nowrap;>回复</th>
                            <th><font size="1";word-break:keep-all; white-space:nowrap;>点击</th>
                            <th><font size="1">时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if @hotest_blogs %>
                            <% @hotest_blogs.each do |blog| %>
                                <tr>
                                   <td><%= link_to blog.title, blog %></td>
                                    <td><%= blog.tag.name %></td>
                                    <td><%= blog.response_count %></td>
                                    <td><%= blog.click_count %></td>
                                    <td><%= blog.updated_at.strftime("%Y-%m-%d %H:%M") %></td>                                
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                    
                </table>

            </div>
        </div>
    </div>
</div>