<% provide(:title, "用户登录") %>

<%= render "share/flash_message.html"%>

<div class="col-sm-3 my_row">
    <div class="aTopAndBottom">
        <h4 class="text-center"><span class="glyphicon glyphicon-home " style="float: left;"></span>
            <div>用户登录</div>
        </h4>
    </div>
    <div class="panel-body">
        <%= form_for(:session, url: login_path) do |f| %>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :account, "账户" %> <span class="glyphicon glyphicon-user"></span>
            </div>
            <%= f.text_field :account , class: 'form-control', placeholder: "学号或邮箱"%>
        </div>
        <br>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :password, "密码" %> <span class="glyphicon glyphicon-lock"></span>
            </div>
            <%= f.password_field :password, class: 'form-control', placeholder: "密码" %>
        </div>
        <br>
        <div class="form-check">
            <%= f.check_box :remember_me, id: "my-input", class: "form-check-input",checked: true%>
            <label for="my-input" class="form-check-label">自动登录</label>
        </div>
        <br>
        <%= f.submit "登录", class: "btn btn-success btn-block" %>
        <% end %>
    </div>

    <div class="aTopAndBottom bottomSelect">
        <table class="table">
            <tr>
                <td class="text-left"><%= link_to "新用户?立即注册！", new_user_path ,class: "user_link" %></td>
                <td class="text-right"> <%= link_to "忘记密码？", email_login_path ,class: "user_link" %></td>
            </tr>
        </table>
    </div>
</div>