<% provide(:title, "用户登录") %>

<h1>登录</h1>

<<<<<<< HEAD
<<<<<<< HEAD
<div class="row">
    <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="text-center"><span class="glyphicon glyphicon-home " style="float: left;"></span><div >用户登录</div></h4>
            </div>
            <div class="panel-body">

                <%= form_for(:session, url: login_path) do |f| %>
                    <div class="input-group">
                        <div class="input-group-addon"><%= f.label :account, "账户" %> <span class="glyphicon glyphicon-user"></span></div>
                        <%= f.text_field :account , class: 'form-control', placeholder: "学号或邮箱"%>
                    </div>
                    <br>
                    <div class="input-group">
                        <div class="input-group-addon"><%= f.label :password, "密码" %> <span class="glyphicon glyphicon-lock"></span></div>
                        <%= f.password_field :password, class: 'form-control', placeholder: "密码" %>
                    </div>


                    <div class="checkbox">
                        <label><%= f.check_box :remember_me %>自动登录</label>
                    </div>

                    <%= f.submit "登录", class: "btn btn-success btn-block" %>
                <% end %>
            </div>

            <div class="panel-footer">
                <table  class="table table-hover">

                    <tr>
                        <td class="text-left">新用户?<%= link_to "立即注册！", new_user_path %></td>
                        <td class="text-right"><%= link_to "忘记密码？", email_login_path  %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

            
=======
<%= render "share/flash_message.html"%>
=======
<h3>登录</h3>
>>>>>>> parent of 417832f... css for login page

<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :account, "学号/邮箱" %>
    <%= f.text_field :account%>

    <%= f.label :password, "密码" %>
    <%= f.password_field :password %>

    <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %><span>下次自动登录         
    <% end %>

    <%= f.submit "登录"%>
<% end %>

新用户？<%= link_to "立即注册！", new_user_path %>
<%= link_to "忘记密码？", email_login_path %>
<<<<<<< HEAD
>>>>>>> parent of 4795571... css for messages
=======
>>>>>>> parent of 417832f... css for login page

