<table class="table">
  <caption>回帖区</caption>
    <% @feed_items.each do |feed_item| %>
      <tr class="success">
        <td colspan="3">
          用户&nbsp&nbsp&nbsp<%= gravatar_image(User.find(feed_item.reply.send_user_id),size:22) %>&nbsp<%= User.find(feed_item.reply.send_user_id).name %>  
          &nbsp&nbsp回复&nbsp&nbsp&nbsp<%= gravatar_image(User.find(feed_item.reply.receive_user_id),size:22) %>&nbsp<%= User.find(feed_item.reply.receive_user_id).name %>
        </td>
      </tr> 
        <td><br><%= feed_item.reply.content %></td>
        <td><%= radio_button_tag :receiver_id, feed_item.reply.send_user_id, 1 %>回复<br><br><br></td>
        
      </tr>
    <% end %>
</table>
<%= will_paginate @feed_items %>