<p id="notice"><%= notice %></p>

<h1>Text Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tag</th>
      <th>Content</th>
      <th>Response count</th>
      <th>Click count</th>
      <th>Accessment</th>
      <th>User</th>
      <th>File transfer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_blogs.each do |text_blog| %>
      <tr>
        <td><%= text_blog.title %></td>
        <td><%= text_blog.tag %></td>
        <td><%= text_blog.content %></td>
        <td><%= text_blog.response_count %></td>
        <td><%= text_blog.click_count %></td>
        <td><%= text_blog.accessment %></td>
        <td><%= text_blog.user %></td>
        <td><%= text_blog.file_transfer %></td>
        <td><%= link_to 'Show', text_blog %></td>
        <td><%= link_to 'Edit', edit_text_blog_path(text_blog) %></td>
        <td><%= link_to 'Destroy', text_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text Blog', new_text_blog_path %>
