<% provide(:title, @text_blog.title) %>
<%= render "share/flash_message.html"%> 

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>
        <%= link_to '讨论区', text_blogs_path, style: "color:white" %>
      </h2>
    </div>


    <div class="panel-body">

      <div>
        <h2><%= @text_blog.title %></h2>
      </div>

      <div class="col-sm-12 textBlogMessage">
        <h5>作者：
          <%= @text_blog.user.name %>
          &nbsp&nbsp板块：
          <%= @text_blog.tag.name %>
          &nbsp&nbsp回复数：
          <%= @text_blog.response_count %>
          &nbsp&nbsp点击数：
          <%=  @text_blog.click_count %>
          &nbsp&nbsp
          <%= @text_blog.created_at %>
        </h5>
      </div> 
      <br>
      <br>
      <br>
      <div style = "color:blue">  
        <h4><%= @text_blog.content %></h4>
      </div>
     
      <br>
      <br>
      <br>
    <%= render "share/new_text_reply" %>
</div>
