<div class="container-fluid ">
    <%= render partial: 'user_navigation.html' %>   

    <div class="col-sm-11">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h7><%= yield(:title) %></h7>
            </div>

            <div class="panel-body">
                <table class="table table-responsive table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>标题</th>
                            <th>发帖人</th>
                            <th>回复数</th>
                            <th>点击数</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if @blogs %>
                            <% @blogs.each do |blog| %>
                                <tr>
                                    <td><%= link_to blog.title, blog %></td>
                                    <td><%= blog.response_count %></td>
                                    <td><%= blog.user.name %></td>
                                    <td><%= blog.click_count %></td>
                                    <td><%= blog.updated_at %></td>

                                    <% if current_user.admin or current_user.id == blog.user_id %>
                                        <td><%= link_to("删除", blog, method: :delete, data: { confirm: "是否确认删除?" }) %></td>
                                    <% end %>
                                    <% if current_user.id == blog.user_id %>
                                    <td><%= link_to '修改', edit_video_blog_path(blog) %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>

                <% if @blogs %>
                    <%= will_paginate @blogs %>
                <% end %>
            </div>
        </div>
    </div>
</div>