<div class="panel-body">
    <%= form_for @user do |f| %>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :name, "姓名" %> <span class="glyphicon glyphicon-user"></span></div>
            <%= f.text_field :name, class: 'form-control', placeholder: @user.name%>
        </div>

        <br>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :user_number, "学号" %> <span class="glyphicon glyphicon-bookmark"></span></div>
            <%= f.text_field :user_number, class: 'form-control', placeholder:  @user.user_number %>
        </div>

        <%  if @is_new_user %>
            <br>
            <div class="input-group">
                <div class="input-group-addon"><%= f.label :email, "邮箱" %> <span class="glyphicon glyphicon-envelope"></span></div>
                <%= f.email_field :email, class: 'form-control', placeholder: @user.email %>
            </div>
        <% else %>
            <br>
            <div class="input-group">
                <div class="input-group-addon"><%= f.label :new_email, "邮箱" %> <span class="glyphicon glyphicon-envelope"></span></div>
                <%= f.email_field :new_email, class: 'form-control', placeholder:  @user.email %>
            </div>
        <% end %>

        <br>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :password, "密码"%> <span class="glyphicon glyphicon-lock " style="color: green";"></span></div>
            <%= f.password_field :password , class: 'form-control'%>
        </div>

        <br>
        <div class="input-group">
            <div class="input-group-addon"><%= f.label :password_confirmation, "验证" %> <span class="glyphicon glyphicon-ok" style="color: green";"></span></div>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="container">
            <label class="radio"><%= f.radio_button :sex, "男", :checked => true %>男</label>  <label class="radio"><%= f.radio_button :sex, "女" %>女</label>
        </div>

        <%= f.submit yield(:submit_button_text), class: "btn btn-success btn-block" %>
    <% end %>
</div>

<!-- <div class="aTopAndBottom bottomSelect">
    <table class="table">
        <tr>
            <td class="text-left"><%= link_to "新用户?立即注册！", new_user_path ,class: "user_link" %></td>
            <td class="text-right"> <%= link_to "忘记密码？", email_login_path ,class: "user_link" %></td>
        </tr>
    </table>
</div> -->