<% provide(:title, '修改信息') %>
<% provide(:submit_button_text, "提交修改") %>

<h3>修改信息</h3>

<%= render "share/user_write_error_messages.html"%>
<%= render "share/flash_message.html"%><br>
<%= render partial: 'form' %>

<br>

<%= link_to '个人详情', @user %> | <%= link_to "前往首页", root_url %><br>
修改头像？<a href="https://cn.gravatar.com/" target="_blank">将新头像与邮箱绑定</a>


