<% provide(:title, '用户列表') %>
<h1>用户列表</h1>

<%= will_paginate %>

<ul class="users">
    <table border="1">
        <tr>
            <td>头像</td>
            <td>姓名</td>
            <td>学号</td>
            <td>性别</td>
            <td>邮箱</td>
            <td>学院</td>
            <td>研究所</td>
            <td>专业</td>
            <td>管理员</td> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>

        <% @users.each do |user| %>
            <tr>
                <td><%= gravatar_image(user, size: 30) %></td>
                <td><%= link_to user.name, user %></td>
                <td><%= link_to user.user_number, user %></td>
                <td><%= user.sex %></td>
                <td><%= user.email %></td>
                <td><%= user.translate_academy %></td>
                <td><%= user.translate_organization %></td>
                <td><%= user.translate_project %></td>
                <td><%= user.translate_admin %> </td> 
                <% if current_user.admin? && (current_user != user) %>
                    <td><%= link_to user.admin ? "取消管理员权限" : "提升为管理员", user, method: :delete, data: { confirm: "是否确认删除?" } %></td>
                    <td><%= link_to "删除", user, method: :delete, data: { confirm: "是否确认删除?" } %></td>
                <% else %>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                <% end %>
            </tr>
        <% end %>
    </table>
</ul>

<%= will_paginate %>