<% provide(:title, '修改资源') %>
<h1>修改资源信息</h1>


<%= form_for @resource_blog do |f| %>
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
    <%= f.label :tag, "标签" %>
    <%= f.text_field :tag %>
    <br><br>
    <%= f.submit "保存" %>
<% end %>
<%= link_to '返回', resource_blog_path(@resource_blog) %>
