<html>

<head>
  <title><%= @resource_blog.title %></title>
</head>

<body>
   <%= link_to "下载资源", :action => "down_file", :filename => @resource_blog.filename %>
  <h3>资源信息</h3>
  <HR>
    <table border="0">
      <tr>
        <td>资源名称</td>
        <td><%= @resource_blog.title %></td>
      </tr>
      <tr>
        <td>上传用户：</td>
        <td><%= @resource_blog.user.name %></td>
      </tr>
    
      <tr>
        <td>板块：</td>
        <td><%= @resource_blog.tag %></td>
      </tr>

      <tr>
        <td>回复数：</td>
        <td><%= @resource_blog.response_count %></td>
      </tr>

      <tr>
        <td>点击数：</td>
        <td><%=  @resource_blog.click_count %></td>
      </tr>
    </table>
</body>

<%= link_to '编辑', edit_resource_blog_path(@resource_blog) %> |
<%= link_to '返回', resource_blogs_path %>

</html>

