<html>
<% provide(:title, @resource_blog.title) %>
<%= render "share/flash_message.html"%> 

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>
        <%= link_to '资源区', resource_blogs_path, style: "color:white" %>
      </h2>
    </div>


    <div class="panel-body">

      <div>
        <h2><%= @resource_blog.title %></h2>
      </div>

      <div class="col-sm-12 resourceBlogMessage">
        <h5>作者：<%= gravatar_image(@resource_blog.user,size:44)
          <%= @resource_blog.user.name %>
          &nbsp&nbsp板块：
          <%= @resource_blog.tag.name %>
          &nbsp&nbsp文件大小：
          <%= @resource_blog.file_size %>
          &nbsp&nbsp点击数：
          <%=  @resource_blog.click_count %>
          &nbsp&nbsp发布时间：
          <%= @resource_blog.created_at %>
        </h5>
      </div> 
      
      <p class=leading><br><%= @resource_blog.content %><br></p>
  
      <%= link_to "下载资源", "/resource_blogs/#{@resource_blog.id * -1}", style: "color:white", class: "btn btn-primary"  %>
  
      <%= render "share/new_resource_reply" %>
    </div>

<!--%= link_to '编辑', edit_resource_blog_path(@resource_blog) %--> 

</html>
