<html>
<% provide(:title, @resource_blog.title) %>
<%= render "share/flash_message.html"%> 

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>
        <%= link_to '资源区', resource_blogs_path, style: "color:white" %>
      </h2>
    </div>


    <div class="panel-body">

      <div>
        <h2><%= @resource_blog.title %></h2>
      </div>
      <p class=leading><%= @resource_blog.content %></p>

      <div class="col-sm-12 resourceBlogMessage">
        <h5>作者：
          <%= @resource_blog.user.name %>
          &nbsp&nbsp板块：
          <%= @resource_blog.tag.name %>
          &nbsp&nbsp回复数：
          <%= @resource_blog.response_count %>
          &nbsp&nbsp点击数：
          <%=  @resource_blog.click_count %>
          &nbsp&nbsp
          <%= @resource_blog.created_at %>
        </h5>
      </div> 
      <br>
      <br>
      <br>
      <br>
      <%= link_to "下载资源", "#{@resource_blog.file_path}", download: '' %>
  
      <%= render "share/new_resource_reply" %>
    </div>

<!--%= link_to '编辑', edit_resource_blog_path(@resource_blog) %--> 

</html>

