

<div class="container-fluid ">
    <%= render partial: "video_blogs_navigation.html" %>


    <div class="col-sm-11">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3><%= yield(:title) %></h3>
            </div>

            <div class="panel-body">
                <table class="table table-responsive table-condensed table-hover">
                    <thead>
                        <tr>
                            <th><font size="3">标题</th>
                            <th><font size="3">板块</th>
                            <th><font size="3">回复数</th>
                            <th><font size="3">点击数</th>
                            <th><font size="3">更新时间</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if @video_blogs %>
                            <% @video_blogs.each do |blog| %>
                                <tr>
                                    <td><%= link_to blog.title, blog %></td>
                                    <td><%= blog.tag.name %></td>
                                    <td><%= blog.response_count %></td>
                                    <td><%= blog.click_count %></td>
                                    <td><%= blog.updated_at %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>

                <% if @blogs %>
                    <%= will_paginate @blogs %>
                <% end %>
            </div>
        </div>
    </div>
</div>