<% provide(:title, '修改视频') %>

<%= render "share/flash_message.html"%> 
</ul>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="blog_form_title">修改视频信息</h3>
    </div>
    <div class="panel-body">
    <%= form_for @video_blog,class: "form-inline", role:"form" do |f|%>
        <div class="form-group">
            <div class="input-group-addon"><%= f.label :title, "标题" %></div>
            <%= f.text_field :title, class: 'form-control', placeholder: "请输入标题..."  %>
        </div>
        <div class="form-group">
            <div class="input-group-addon"><%= f.label :content, "帖子内容" %></div>
            <%= f.text_area :content, class: 'form-control', placeholder: "请输入内容...",rows: "6"  %>
        </div>
        <div class="form-group">
            <div class="input-group-addon"><%= f.label :tag_id, "标签" %></div>
            <%= f.select :tag_id, @all_tags, class: 'form-control', prompt: "请选择板块"%>
        </div>
        <br><br>
        <div class = "leftBottom" > 
            <%= f.submit "保存",class: "btn btn-primary" %>
        </dev>
    <% end %>

<div class = "centerBottom" > 
<%= link_to '返回视频列表', video_blogs_path, style: "color:white", class: "btn btn-primary"%>
</div>