<% provide(:title, '修改视频') %>
<h1>修改视频信息</h1>


<%= form_for @video_blog do |f| %>
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
    <%= f.label :tag_id, "标签" %>
    <%= f.select :tag_id, @all_tags, :prompt=>"请选择板块" %>
    <br><br>
    <%= f.submit "保存" %>
<% end %>
<%= link_to '返回', video_blog_path(@video_blog) %>
