<% provide(:title, '发布视频') %>
<h1>发布视频</h1>

<ul>
<% @video_blog.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
</ul>

<%= form_for @video_blog do |f| %>
    <%= f.label :title, "标题" %>
    <%= f.text_field :title %>
    <%= f.label :tag_id, "标签" %>
    <%= f.select :tag_id, @all_tags, :prompt=>"请选择板块" %>
    <%= f.label :file_path, "选择视频" %>
    <%= f.file_field :file_path %>
    <br><br>
    <%= f.submit "发布" %>
<% end %>
<%= link_to 'Back', video_blogs_path %>
