<html>

<head>
  <title><%= @video_blog.title %></title>
</head>

<body>

  <h3>视频信息</h3>
  <HR>
    <table border="0">
      <tr>
        <td>上传用户：</td>
        <td><%= @video_blog.user.name %></td>
      </tr>
    
      <tr>
        <td>板块：</td>
        <td><%= @video_blog.tag %></td>
      </tr>

      <tr>
        <td>回复数：</td>
        <td><%= @video_blog.response_count %></td>
      </tr>

      <tr>
        <td>点击数：</td>
        <td><%=  @video_blog.click_count %></td>
      </tr>
    </table>
</body>

<%= link_to '编辑', edit_video_blog_path(@video_blog) %> |
<%= link_to '返回', video_blogs_path %>

</html>

