<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- 全局变量解决背景问题，黔驴技穷了，为了不影响到你们工作，没办法了 -->
  <% if $user_background %>
    <body class="body-user-login-background" >
      <%= yield %>
    </body>
  <% else %>
    <body>
      <%= yield %>
      <!-- <%= debug(params) if Rails.env.development? %> -->
    </body>
  <% end %>

  
</html>
