<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "body-user-login-background" if params[:controller]=="sessions" || (params[:controller]=="users" && params[:action]=="new" )%>">
    <%= yield %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
